.line {
  border: none;
  border-top: 1px solid;
}

.large_line {
  border-color: var(--large-lane-color);
}

.button {
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

.link:hover {
  opacity: 0.7;
}