.form__label-register {
  font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #8B8B8B;
}

.form__input-register {
  background-color: #2F2F2F;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.form__input-register:last-child {
  margin-bottom: 0px;
} 

.register-button {
  margin: 179px 0 0;
  padding: 15px 67px 15px 68px;
}

@media screen and (min-width: 600px) {
  .register-button {
    margin: 91px 0 0;
  }
}